<suite name="Selenium Suite" parallel="methods" thread-count="2">
	<!-- <suite name="Selenium Suite" > -->
	<test name="Login Tests">
	<parameter name="browser" value="chrome"/>
		<classes>
			<class
				name="com.crestasom.ecom_selenium_testing.tests.LoginTest" />
				
		</classes>
	</test>
</suite>